.generalSettingsModal__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px 24px;
  border-radius: 10px;
  width: 375px;
  height: 475px;
}

.generalSettingsModal__content {
  overflow-y: scroll;
}

.generalSettingsModal__content::-webkit-scrollbar {
  display: none;
}

.generalSettingsModal__settings_section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 2px solid var(--color-secondary-opacity);
  padding-bottom: 10px;
}

.generalSettingsModal__title {
  font-size: 21px;
  font-family: var(--font-primary);
  color: var(--color-white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.generalSettingsModal__setting_section_title {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--color-white);
  font-weight: 500;
  margin-bottom: 3px;
}

.generalSettingsModal__setting_description {
  font-size: 14px;
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-weight: 400;
}

.generalSettingsModal__setting_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
