.carousel__container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel__wrapper {
  display: grid;
  scroll-behavior: smooth; /* Smooth scrolling */
  -webkit-overflow-scrolling: touch; /* Better touch scrolling on mobile */
  overflow: scroll; /* Enable scrolling */
  height: 100%;
  /* border: 1px solid blue; */
}

.carousel__item {
  display: inline-block;
  width: 100%;
  height: 100%;
  scroll-snap-align: start; /* Snap to start of each item when scrolling */
  border: 1px solid red;
}

.horizontal .carousel__wrapper {
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
}

.vertical .carousel__wrapper {
  grid-auto-flow: row;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Arrow button styling */
.carousel__arrow {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateY(-50%); */
  display: flex;
  cursor: pointer;
  /* z-index: 10; */
  padding: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.vertical .carousel__arrow {
  width: 100%;
}

.horizontal .carousel__arrow {
  height: 100%;
}

.carousel__arrow:hover {
  background-color: rgba(0, 0, 0, 0.248);
  transition: background-color 0.3s;
}

.horizontal .prev_arrow {
  left: 10px;
}

.horizontal .next_arrow {
  right: 10px;
}

/* .vertical .prev_arrow {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .vertical .next_arrow {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  } */

.carousel__wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.vertical {
  /* height: 100%;
    width: 100%; */
  flex-direction: column;
  /* justify-content: space-between;
    align-items: center;
    border: 1px solid green; */
}

.horizontal {
  /* height: 100%;
    width: 100%; */
  flex-direction: row;
  /* justify-content: space-between;
    align-items: center;
    border: 1px solid yellow; */
}
