.input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input__postpendIcon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
}

.input__error_text {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 5px;
  width: 35ch;
}
