.toolbarButton__container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.toolbarButton__container svg {
    padding: 5px ;
    border-radius: 10px;
    transition: all 0.2s;
}

.toolbarButton__container:hover svg {
    animation: scale-up  0.2s forwards;
    background-color: var(--color-effect-opacity);
}

@keyframes scale-up {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
}