.nowPlaying__container {
    position: absolute;
    bottom: 35px;
    left: 35px;
}

.nowPlaying__header_title {
    color: white;
    font-size: 21px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 3px;
}

.nowPlaying__song_title {
    color: white;
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 3px;
}

.nowPlaying__song_provider {
    color: white;
    font-family: var(--font-primary);
    font-size: 16px; 
    opacity: 50%;
    font-weight: 500;
}

.nowPlaying__song_provider:hover { 
    opacity: 100%;
    cursor: pointer;
}