.aboutMelofiModal__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-primary-opacity);
  transition: all 0.3s;
  box-shadow: var(--box-shadow-primary);
  width: 375px;
  height: 525px;
  overflow: hidden;
  position: relative;
}

.aboutMelofiModal__title {
  font-size: 21px;
  font-weight: 500;
}

.aboutMelofiModal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.aboutMelofiModal__text {
  text-align: justify;
  line-height: 1.75rem;
}

.aboutMelofiModal__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.aboutMelofiModal__legal_links {
  display: flex;
  justify-content: space-between;
}

.aboutMelofiModal__legal_link {
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMelofiModal__legal_link p {
  font-size: 14px;
  color: var(--color-secondary);
  transition: all 0.3s;
}

.aboutMelofiModal__legal_link p:hover {
  color: var(--color-white);
  text-decoration: underline;
  cursor: pointer;
}

.aboutMelofiModal__footer_separator {
  width: 1px;
  background-color: var(--color-secondary);
  height: 100%;
}

.aboutMelofiModal__contact {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.aboutMelofiModal__contact p {
  font-size: 14px;
  color: var(--color-secondary);
  transition: all 0.3s;
}

.aboutMelofiModal__contact p:hover {
  color: var(--color-white);
}

.aboutMelofiModal__version p {
  font-size: 14px;
  color: var(--color-secondary);
  text-align: center;
  margin-top: 10px;
}
