#portal-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--color-primary);
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(253, 238, 219) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input {
  font-family: var(--font-primary);
  color: var(--color-primary);
}
