.calendarEventsView__container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.calendarEventsView__header {
    display: flex;
    align-items: center;
    height: 50px;
    color: var(--color-secondary-white);
}

.calendarEventsView__events_container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    flex: 1;
    row-gap: 15px;
    padding-top: 10px
}