.calculatorButton__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.calculatorButton__container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorButton__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: var(--color-white);
  opacity: 0;
}
