.loggedOutView__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    /* background-image: url('/assets/thumbnails/girl-in-cafe_pic.webp'); */
}

.loggedOutView__login_signup_modal {
    display: flex;
    flex-direction: column;
   
    width: 100%;
    max-width: 700px;
    height: 680px;
    padding: 20px;
    border-radius: 10px;
    background: var(--color-primary);
    box-shadow: var(--box-shadow-primary);
}