.premiumModal__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 600px;
  height: 750px;
}

.premiumModal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  backdrop-filter: blur(10px);
}

.premiumModal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.premiumModal__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.premiumModal__description {
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
}

.premiumModal__subtitle {
  font-weight: 700;
}

.premiumModal__pricing_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;
}

.premiumModal__pricing {
  font-weight: 500;
  font-size: 21px;
  margin: 0 0 10px 0;
}

.premiumModal__pricing span {
  font-weight: 700;
}

.premiumModal__features_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  height: 100%;
}

.premiumModal__features_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.premiumModal__features_list p {
  margin-right: 5px;
}

.premiumModal__features_list_clickable {
  cursor: pointer;
}

.premiumModal__features_list p:last-of-type {
  margin-right: 0;
}

.premiumModal__premium_button {
  background-color: var(--color-effect-opacity);
  padding: 5px 10px !important;
  box-shadow: var(--box-shadow-primary);
  width: 152px;
}

.premiumModal__premium_button_text {
  font-size: 21px;
  font-weight: 500;
  text-shadow: var(--box-shadow-primary);
}

.premiumModal__pricing_switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.premiumModal__pricing_switch p {
  transition: all 0.3s;
  color: var(--color-secondary);
}

.premiumModal__pricing_switch p.active {
  font-weight: 700;
  color: var(--color-white);
}

.premiumModal__pricing_save {
  background-color: rgba(254, 165, 57, 0.224);
  padding: 2px;
  border-radius: 5px;
}

.premiumModal__pricing_save p {
  color: var(--color-effect-opacity);
  font-size: 0.8rem;
}

.premiumModal__features_lifetime_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.premiumModal__features_lifetime_container p {
  transition: all 0.3s;
}

.premiumModal__features_lifetime_container p:first-of-type {
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-effect);
}

.premiumModal__features_lifetime_container p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--color-secondary);
}

.premiumModal__features_lifetime_container p:first-of-type:hover {
  cursor: pointer;
  color: var(--color-effect-opacity);
}
