.hoverIcon__iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    width: max-content;
}

.hoverIcon__icon{
    color: white
}
